MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=change_me_to_long_random_string
JWT_EXPIRES_HOURS=4
FRONTEND_URL=https://localhost:5173
NODE_ENV=development
PORT=5000
