version: 2.1

orbs:
  node: circleci/node@5.1.0
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:
  build_and_test:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install backend deps
          command: cd backend && npm ci
      - run:
          name: Run backend tests
          command: cd backend && npm test

  sonar_scan:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install backend deps
          command: cd backend && npm ci
      - sonarcloud/scan

workflows:
  main:
    jobs:
      - build_and_test
      - sonar_scan:
          requires:
            - build_and_test
